.absolute-vertical-align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #828DC9;
}

 .otp-text-ele {
    font-size: 16pt;
    text-align: center;
}