<ion-list class="tracker-scroll">
  <ion-list-header class="list-header-custom">
    <ion-label color="primary">Transactions</ion-label>
    <!-- <a href="javascript:" (click)="createAccount()" style="margin-right: 15px;">
      <i class="fas fa-plus"></i>
    </a> -->
  </ion-list-header>  
  <ng-container *ngIf="transactions.length === 0">
    <ion-item color="light">
      <ion-label>
        No records found.
      </ion-label>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="transactions.length !== 0">
    <ion-item button (click)="itemClicked(trans)" detail="false" *ngFor="let trans of transactions">
      <ion-avatar slot="start">
        <ion-text [color]="trans.transClass">
          <i [class]='trans.transIcon' style="font-size: 25pt; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%);"></i>
        </ion-text>
        <!-- <img src='assets/icon/bank.jpg' alt="Not Found" onerror="this.src='assets/icon/bank.jpg'"> -->
      </ion-avatar>
      <ion-label>
        <ion-text [color]="trans.transClass">
          <h3 style="font-size: 15pt;">
            <i class='fas fa-rupee-sign mr-1'></i>{{trans.transactionAmount}}
            <label class="title-label-class">(on {{trans.transactionDate}})</label>
          </h3>
        </ion-text>
        <p>
          From - 
          <ng-container *ngIf="trans.accountTransactions.length > 1">
            {{trans.accountTransactions[0].account.accountName}}
            <i class="fas fa-hand-point-right"></i>
            {{trans.accountTransactions[1].account.accountName}}
          </ng-container>
          <ng-container *ngIf="trans.accountTransactions.length <= 1">
            {{trans.accountTransactions[0].account.accountName}}
          </ng-container>
        </p>
        <p>{{trans.transactionCategory.configName}} - {{trans.transactionDetail}}</p>
      </ion-label>
      <ion-text slot="end">
        <a href="javascript:" (click)="showActionsSheet(trans)">
          <i class="fas fa-ellipsis-v"></i>
        </a>
      </ion-text>
    </ion-item>  
  </ng-container>
</ion-list>
