<ion-list>
  <ion-list-header class="list-header-custom">
    <ion-label color="primary">Passwords</ion-label>
    <a href="javascript:" (click)="createPassword()" style="margin-right: 15px;">
      <i class="fas fa-plus"></i>
    </a>
  </ion-list-header>  
  <ng-container *ngIf="passwords.length === 0">
    <ion-item color="light">
      <ion-label>
        No Passwords added yet.
      </ion-label>
    </ion-item>
  </ng-container>
  <ng-container *ngIf="passwords.length !== 0">
    <ion-item button (click)="itemClicked(pass)" detail *ngFor="let pass of passwords">
      <ion-label>
        {{pass.name}}
      </ion-label>
    </ion-item>  
  </ng-container>
</ion-list>
