.slide-icon-class{
    margin: 100px 0px 60px;
    font-size: 35pt;
}

.mr-2 {
    margin-right: 10px;
}

.mb-2 {
    margin-bottom: 10px;
}

.widget-icon{
    padding: 10px 0px 10px 0px;;
    background-color: rgba(111,255,233,0.4);
    border-radius: 10px;
}