<ion-content fullscreen color="primary" class="ion-padding" scroll-y="false">
  <ion-slides style="height: 100%;">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/logos/tracker-light.png" style="max-width: 80%; margin: 120px 0px 100px 0px;"/>
        <h2>Welcome</h2>
        <p>The <b>Tracker app</b> is a personal tracking application, which is for tracking almost everything in your day to day life.</p>
        <ion-button color="success" expand="block" (click)="getStarted()">
          Get Started<i style="position: fixed; right: 10px;" class="fas fa-chevron-right"></i>
        </ion-button>    
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-icon-class">
          <ion-grid>
            <ion-row class="mb-2">
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-rupee-sign"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-wallet"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-chart-pie"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-chart-bar"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      <h2>Finance</h2>
      <p style="padding-right: 15px;padding-left: 15px;"><b>Finance module</b> enables user to track his all financial activities like money at hand, monthly expense, set category wise budget, expense split and history charts.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-icon-class">
          <ion-grid>
            <ion-row class="mb-2">
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-id-card"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-users"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-handshake"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="3">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-exchange-alt"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2"></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      <h2>Contact</h2>
      <p style="padding-right: 15px;padding-left: 15px;"><b>Contact module</b> enables user to track his contacts, contact groups and financial settlements with contacts.</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <div class="slide-icon-class">
          <ion-grid>
            <ion-row class="mb-2">
              <ion-col></ion-col>
              <ion-col size="6">
                <div class="widget-icon">
                  <ion-text>
                    <i class="fas fa-play-circle"></i>
                  </ion-text>
                </div>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      <h2>Ready to Track?</h2> 
      <ion-button color="success" expand="block" (click)="getStarted()">
        Continue<i style="position: fixed; right: 10px;" class="fas fa-chevron-right"></i>
      </ion-button>    
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>