<div class="ion-padding tracker-scroll dashboard-class" style="background-color: #1C2541;">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <a href="javascript:" (click)="widgetClicked('balanceWidget')">
          <ion-card class="widget-card">
            <ion-card-header style="padding: 0px;">
              <table class="widget-class">
                <tr>
                  <td>
                    <img src="../../assets/icon/wallet-white.png">
                  </td>
                  <td>
                    <ion-card-subtitle style="margin-bottom: 5px;">
                      <ion-text color="primary">
                        BALANCE
                      </ion-text>
                    </ion-card-subtitle>
                    <ion-card-title style="font-size: 15pt;">
                      <ion-text color="primary">
                        <i class='fas fa-rupee-sign mr-1'></i>{{totalBalance}}
                      </ion-text>
                    </ion-card-title>
                  </td>
                </tr>
              </table>
            </ion-card-header>
          </ion-card>
        </a>
      </ion-col>
      <ion-col size="12">
        <ion-card class="widget-card">
          <ion-card-header style="padding: 0px;">
            <table class="widget-class">
              <tr>
                <td>
                  <img src="../../assets/icon/expense-white.png">
                </td>
                <td>
                  <ion-card-subtitle style="margin-bottom: 5px;">
                    <ion-text color="primary">
                      EXPENSE
                    </ion-text>
                  </ion-card-subtitle>
                  <ion-card-title style="font-size: 15pt;">
                    <ion-text color="primary">
                      <i class='fas fa-rupee-sign mr-1'></i>{{totalMonthlyExpense}}
                    </ion-text>
                  </ion-card-title>
                </td>
              </tr>
            </table>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card class="widget-card">
          <ion-card-header style="padding: 0px;">
            <table class="widget-class">
              <tr>
                <td>
                  <img src="../../assets/icon/money-to-take-white.png">
                </td>
                <td>
                  <ion-card-subtitle style="margin-bottom: 5px;">
                    <ion-text>
                      MONEY TO TAKE
                    </ion-text>
                  </ion-card-subtitle>
                  <ion-card-title style="font-size: 15pt;">
                    <ion-text>
                      <i class='fas fa-rupee-sign mr-1'></i>{{moneyToTake}}
                    </ion-text>
                  </ion-card-title>
                </td>
              </tr>
            </table>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="widget-card">
          <ion-card-header style="padding: 0px;">
            <table class="widget-class">
              <tr>
                <td>
                  <img src="../../assets/icon/money-to-give-white.png">
                </td>
                <td>
                  <ion-card-subtitle style="margin-bottom: 5px;">
                    <ion-text color="primary">
                      MONEY TO GIVE
                    </ion-text>
                  </ion-card-subtitle>
                  <ion-card-title style="font-size: 15pt;">
                    <ion-text color="primary">
                      <i class='fas fa-rupee-sign mr-1'></i>{{moneyToGive}}
                    </ion-text>
                  </ion-card-title>
                </td>
              </tr>
            </table>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
