<ion-menu side="end" menuId="settings" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <i class="fas fa-cog mr-1"></i>Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><i class="fas fa-user mr-1"></i>Profile</ion-item>
      <ion-item><i class="fas fa-cogs mr-1"></i>Settings</ion-item>
      <ion-item><i class="fas fa-sign-out-alt mr-1"></i>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu side="start" menuId="trackerNav" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <span [innerHTML]="trackerMenuTitle" (click)="onMenuClicked(undefined, true)"></span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button *ngFor="let menu of menus;" (click)="onMenuClicked(menu)">
        <span *ngIf="!menu.iconClass.includes('fas')">
          <i class="material-icons">{{menu.iconClass}}</i>
        </span>
        <span *ngIf="menu.iconClass.includes('fas')">
            <i class="{{menu.iconClass}} mr-1"></i>
        </span>
        {{menu.viewTitle}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button (click)="openSettings()">
        <i class="fas fa-cog"></i>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="openTrackerNav()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img src="../../assets/logos/tracker_light.png" style="width:50%">
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content id="main">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
