<form [formGroup]="passwordForm">
  <ion-list>
    <ion-list-header class="list-header-custom">
      <ion-label color="primary">{{formTitle}}</ion-label>
    </ion-list-header>  
    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Username
      </ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Link
      </ion-label>
      <ion-input type="text" formControlName="siteLink"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
      <ion-icon name="eye" slot="end" style="margin-top: 15px;" (click)="revealPassword()"></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="block" (click)="savePassword()">
            <i class="fas fa-save mr-1"></i>Save
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</form>